<div id="list_view_id" class="list_view" class="ng-view">
	<header class="w3-container w3-panel">
		<h2 id="title_id"> Tasks </h2>
	</header>
	<div class="list">
		<table id="list_table_id" class="w3-table">
			<thead class="w3-blue w3-text-black">
				<th class="thumbnail">Thumbnail</th>
				<th class="address">Address</th>
				<th class="time">Scheduled Time</th>
				<th class="assignment">Assignment</th>
				<th style="display: none">Distance</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
